<!DOCTYPE html>
<html ng-app="DemoApp">
  <head>
    <title>Event Service Demo</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />

    <script src="js/libraries.js"></script>
    <script src="js/application.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h3>Player Demo</h3>
      </div>

      <div class="row">
        <!-- playlist -->
        <div class="col-md-6" ng-controller="PlaylistCtrl">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Playlist</h3>
            </div>

            <ul class="list-group">
              <li class="list-group-item" ng-repeat="song in songs()">
                {{ song.title }}
              </li>
            </ul>
          </div>
        </div>

        <!-- player controls -->
        <div class="col-md-6" ng-controller="PlayerCtrl">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="previousSong()">
              <span class="glyphicon glyphicon-backward"></span>
            </button>

            <button type="button" class="btn btn-default" ng-click="togglePlay()">
              <span class="glyphicon glyphicon-play" ng-class="{'glyphicon-play': !playing, 'glyphicon-pause': playing}">
              </span>
            </button>

            <button type="button" class="btn btn-default" ng-click="nextSong()">
              <span class="glyphicon glyphicon-forward"></span>
            </button>
          </div>

          <div>
            <progress ng-value="percent" max="100" style="width: 100%;"></progress>
          </div>
        </div>
      </div>
    </div>

    <!-- player container -->
    <div id="player_container"></div>
  </body>
</html>
